@import "prefixes"
@import "variables"

//.header__hamburger, .headerNav_adaptive
.header__hamburger
  display: none

.adaptive-menu-toggle
  margin: auto
  position: relative
  width: 52px
  height: 52px
  z-index: 99
  background: inherit
  border: 1px solid $greyBlue
  border-radius: 50%
  &::after
    content: 'МЕНЮ'
    position: absolute
    bottom: -20px
    left: 0
    right: 0
    color: $blue
    font-weight: 800
    font-size: 10px

.adaptive-menu-toggle--open
  background: $blue
  &::after
    font-size: 0

.menu-toggle-inner
  width: 16px
  height: 10px
  position: absolute
  left: 0
  top: 0
  right: 0
  bottom: 0
  margin: auto

.menu-toggle-line
  position: absolute
  background: $blue
  display: block
  margin: auto
  height: 1px
  width: 100%
  //+border-radius(3px)

.menu-toggle-line--1
  top: 0
  @include transition(width 0.2s ease 0.3s)


.menu-toggle-line--2
  top: 0
  bottom: 0
  margin: auto
  @include transition(width 0.2s ease 0.3s)

.menu-toggle-line--3
  bottom: 0
  @include transition(width 0.2s ease 0.3s)

.menu-toggle-line--4,
.menu-toggle-line--5
  opacity: 0
  top: 6px

.menu-toggle-line--4
  -webkit-transition: opacity 0.2s ease 0.2s, -webkit-transform 0.2s ease 0.2s
  transition: opacity 0.2s ease 0.2s, -webkit-transform 0.2s ease 0.2s
  -o-transition: opacity 0.2s ease 0.2s, -o-transform 0.2s ease 0.2s
  -moz-transition: opacity 0.2s ease 0.2s, transform 0.2s ease 0.2s, -moz-transform 0.2s ease 0.2s

.menu-toggle-line--5
  -webkit-transition: opacity 0.2s ease 0s, -webkit-transform 0.2s ease 0s
  transition: opacity 0.2s ease 0s, -webkit-transform 0.2s ease 0s
  -o-transition: opacity 0.2s ease 0s, -o-transform 0.2s ease 0s
  -moz-transition: opacity 0.2s ease 0s, transform 0.2s ease 0s, -moz-transform 0.2s ease 0s

.adaptive-menu-toggle--open .menu-toggle-line
  background: #ffffff

.adaptive-menu-toggle--open .menu-toggle-line--1
  width: 0
  @include transition(width 0.2s ease 0s)

.adaptive-menu-toggle--open .menu-toggle-line--2
  width: 0
  @include transition(width 0.2s ease 0.1s)

.adaptive-menu-toggle--open .menu-toggle-line--3
  width: 0
  @include transition(width 0.2s ease 0.2s)

.adaptive-menu-toggle--open .menu-toggle-line--4
  opacity: 1
  +transform(rotate(45deg) translateZ(0))
  -webkit-transition: opacity 0.2s ease 0.2s, -webkit-transform 0.2s ease 0.2s
  transition: opacity 0.2s ease 0.2s, -webkit-transform 0.2s ease 0.2s
  -o-transition: opacity 0.2s ease 0.2s, -o-transform 0.2s ease 0.2s
  -moz-transition: opacity 0.2s ease 0.2s, transform 0.2s ease 0.2s, -moz-transform 0.2s ease 0.2s

.adaptive-menu-toggle--open .menu-toggle-line--5
  opacity: 1
  +transform(rotate(-45deg) translateZ(0))
  -webkit-transition: opacity 0.2s ease 0.4s, -webkit-transform 0.2s ease 0.4s
  transition: opacity 0.2s ease 0.4s, -webkit-transform 0.2s ease 0.4s
  -o-transition: opacity 0.2s ease 0.4s, -o-transform 0.2s ease 0.4s
  -moz-transition: opacity 0.2s ease 0.4s, transform 0.2s ease 0.4s, -moz-transform 0.2s ease 0.4s

@media only screen and (max-width: 1200px)
  .header__hamburger
    display: block !important
    right: 10px
    top: 20px

  .header
    &__top
      &__nav-list
        justify-content: center
      &__nav-item
        padding: 1em
    &__nav-list
      &_bottom
        position: unset
        justify-content: center
        li
          display: flex
          flex: 0 1 30%
          margin: 8px
        &_main
          flex-direction: row
          background: unset
      &__link
        display: flex
        flex: 0 0 1
        width: 100%
        flex-direction: column
        justify-content: center
        align-items: center
        text-align: center
        border-radius: 10px
        white-space: unset
        color: $blue
        background-color: #ffffff
        & svg path
          fill: $blue

  .header__nav-list_bottom_common .header__nav-list__link
    padding: 1rem

  .headerNav_adaptive
    background: $lightBlue
    display: none
    padding: 120px 0 40px
    position: absolute
    left: -15px
    right: 24px
    top: 0
    +transform(translateX(-100%))
    z-index: 25

    .address p
      @include font($textBlack)
      background: $white
      padding: 10px

  .header_opened
    display: block !important
    +transform(translateX(0))

  //.headerNav_adaptive a
  //  background: $white
  //  border: $textBlack 1px solid
  //  border-bottom: none
  //  display: block
  //  @include font($textBlack)
  //  padding: 10px
  //  text-decoration: none
  //
  //.headerNav_adaptive li:last-child a
  //  border-bottom: $textBlack 1px solid

@media only screen and (max-width: 767px)
  .header
    &__top
      &__nav-list
        justify-content: left
        flex-direction: column
      &__nav-item
        padding: 1em
        border-bottom: 1px solid #ffffff
        &:first-child
          border-top: 1px solid #ffffff
