@charset "UTF-8";
/* LIBS */
/* Slider */
@import "libs/jquery.fancybox.min.css";
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

@font-face {
  font-family: ProximaNova;
  src: url(../fonts/ProximaNova-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: ProximaNova;
  src: url(../fonts/ProximaNova-Semibold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: ProximaNova;
  src: url(../fonts/ProximaNova-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: ProximaNova;
  src: url(../fonts/ProximaNova-Extrabld.ttf);
  font-weight: 800;
}
/* BLOCKS */
body {
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  font-family: ProximaNova, sans-serif;
}
body .wrapper {
  margin: 0 auto;
  max-width: 1330px;
  padding: 0 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body .wrapper_fullHD {
  margin: 0 auto;
  max-width: 1920px;
  position: relative;
}
body .wrapper_right {
  margin: 0 0 0 auto;
  padding-left: 15px;
  max-width: 1625px;
}
body .wrapper_half {
  max-width: 650px;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

h2.title, h3.title {
  margin-top: 80px;
  font-size: 64px;
  font-weight: 800;
  color: #000000;
  line-height: 1.1;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.blue {
  color: #1378BA;
}

.green {
  color: #29B179;
}

.grey {
  color: #A3A3A3;
}

.white {
  color: #ffffff;
}

.innerTitle {
  font-size: 72px;
  font-weight: 400;
  color: #000000;
  line-height: 1;
  margin: 0 0 70px;
}

.subtitle {
  font-size: 220px;
  font-weight: 400;
  color: #000000;
  line-height: 1;
  position: absolute;
  z-index: -1;
  top: -15px;
}

.btn {
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  line-height: 1;
  white-space: nowrap;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: inherit;
  cursor: pointer;
  border: none;
}
.btn:hover {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.btn__content {
  margin: 2px;
  color: #000000;
  background-color: #c4c4c4;
}
.btn_transperent {
  margin-bottom: 13px;
  padding: 8px 22px 6px;
  align-items: flex-start;
  background: inherit;
  border: 3px solid #1378BA;
  font-size: 24px;
  font-weight: 700;
  color: #000000;
  line-height: 1;
  -moz-transition: border 0.3s;
  -o-transition: border 0.3s;
  -webkit-transition: border 0.3s;
  transition: border 0.3s;
}
.btn_transperent:hover {
  border-color: #29B179;
}
.btn_gradient {
  padding: 26px 55px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  background: linear-gradient(to right, #1378BA, #29B179);
}
.btn_white {
  padding: 26px 55px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  font-weight: 800;
  color: #1378BA;
  background: #ffffff;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn_white:hover {
  color: #29B179;
}
.btn_arrowR::after {
  margin-left: 40px;
  content: url("../images/arrow_white_btn.svg");
  vertical-align: middle;
}
.btn_phone-icon::before {
  margin-right: 6px;
  content: url("../images/phone_grey.svg");
  vertical-align: middle;
}
.btn_round {
  width: 40px;
  height: 40px;
  background: #1378BA;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn_round_light-blue {
  background: #2984C0;
}
.btn_round_white {
  background: #ffffff;
}
.btn_submit {
  padding: 25px 40px;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 1px;
  -webkit-border-radius: 36px;
  -moz-border-radius: 36px;
  border-radius: 36px;
}
.btn_submit_white {
  background: inherit;
  border: 2px solid #ffffff;
}
.btn_services {
  align-self: flex-end;
  font-size: 18px;
  font-weight: 800;
}
.btn_services::before {
  margin-right: 15px;
  content: url("../images/get_consult.svg");
}
.btn_small {
  padding: 17px 30px;
  font-size: 12px;
  font-weight: 800;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  letter-spacing: 1px;
}
.btn_small_white {
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
}
.btn_blue {
  color: #1378BA;
  border: 2px solid #DDE7ED;
}
.btn__delete-file {
  margin-left: 8px;
  background: none;
  border: none;
}

.slick-slide:focus {
  outline: none;
}

.slick-dots {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 90px 0 0;
}
.slick-dots li {
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slick-dots li button {
  padding: 0;
  font-size: 0;
  border: none;
  background: #9F9F9F;
  width: 12px;
  height: 12px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  opacity: 0.2;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li.slick-active button {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 100%;
  background: linear-gradient(to right, #1378BA, #29B179);
  opacity: 1;
}

.slick-arrow {
  position: absolute;
  top: calc(50% - 100px);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  cursor: pointer;
  border: none;
  background: none;
}
.slick-arrow:focus {
  outline: none;
}
.slick-arrow.slick-next {
  right: -180px;
}
.slick-arrow.slick-prev {
  left: -180px;
}

.line_white {
  z-index: 10;
  border-bottom: 1px solid #ffffff;
}

.line_gray {
  z-index: 10;
  border-bottom: 1px solid #EFEFF2;
}

.title__h1 {
  font-size: 58px;
  font-weight: 800;
  color: #000000;
  line-height: 1;
}
.title__h1_main {
  margin-bottom: 40px;
  padding-bottom: 40px;
  position: relative;
  font-size: 64px;
  font-weight: 800;
  color: #000000;
  line-height: 1;
  border-bottom: 1px solid #9999994a;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.title__h1_main::after {
  content: " ";
  position: absolute;
  display: block;
  bottom: -2px;
  left: 40px;
  width: 50px;
  height: 3px;
  background: #1378BA;
}

.breadcrumbs {
  margin-top: 15px;
  font-size: 15px;
  font-weight: 400;
}
.breadcrumbs a {
  margin-right: 10px;
  color: #000000;
}
.breadcrumbs a::after {
  margin-left: 10px;
  content: url(../images/arrow_gray.svg);
  vertical-align: middle;
}
.breadcrumbs span {
  color: #8E8E8E;
  text-decoration: underline;
}
.breadcrumbs__list {
  display: flex;
  justify-content: center;
}

.header {
  background: url(../images/bg_header_common.jpg) center top no-repeat;
}
.header_main {
  background: url(../images/bag_header_main.jpg) center top no-repeat;
}
.header_main__content {
  display: flex;
}
.header_main__content__right-block {
  margin-left: 90px;
  font-size: 24px;
  line-height: 1.5;
}
.header_main__content__right-block .btn_gradient {
  margin-top: 55px;
}
.header_main__links {
  margin-top: 120px;
}
.header_main__links_portfolio {
  margin: 60px 0 -10px;
  padding: 30px 26px 35px 38px;
  background-color: #1378BA;
  font-size: 24px;
  font-weight: 800;
  color: #ffffff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.header_main__links_portfolio .btn {
  margin: 20px 0 0 auto;
}
.header__top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.header__top__nav-list {
  display: flex;
}
.header__top__nav-item {
  padding: 3em 1em;
  position: relative;
}
.header__top__nav-link {
  padding: 1em 0.5em;
  font-size: 16px;
  font-weight: 800;
  color: #000000;
  line-height: 1;
}
.header__top__nav-link::before {
  content: "";
  position: absolute;
  bottom: -1px;
  height: 3px;
  left: 1.5em;
  width: 0;
  background: linear-gradient(to left, #29B179, #1378BA);
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header__top__nav-link:hover {
  color: #1378BA;
  transition: all 0.3s ease-in-out;
}
.header__top__nav-link:hover::before {
  width: calc(100% - 3em);
}
.header__top__right-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__bottom_main {
  margin-top: 50px;
}
.header__nav-list_bottom {
  display: flex;
}
.header__nav-list_bottom_main {
  flex-direction: column;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #efeff2;
}
.header__nav-list_bottom_common {
  margin: 10px 0;
  justify-content: space-between;
}
.header__nav-list_bottom_common .header__nav-list__link {
  padding: 5px 0;
}
.header__nav-list__link {
  padding: 22px 30px;
  display: block;
  border-radius: 10px;
  font-weight: 800;
  white-space: nowrap;
  background: inherit;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header__nav-list__link svg {
  margin-right: 13px;
  vertical-align: middle;
}
.header__nav-list__link:hover {
  color: #1378BA;
  background: #ffffff;
}
.header__nav-list__link:hover svg path {
  fill: #1378BA;
}

.logo {
  position: relative;
}
.logo__text {
  padding: 8px 12px 6px;
  position: absolute;
  bottom: 10px;
  right: -90px;
  background-color: #ffffff;
  font-size: 10px;
  font-weight: 700;
  color: #1378BA;
  line-height: 1;
  text-transform: uppercase;
}

.work-time {
  font-size: 15px;
}
.work-time::before {
  margin-right: 6px;
  content: url(../images/icon_clock_grey.svg);
  vertical-align: middle;
}

.footer {
  padding: 60px 0 65px;
  background: url("../images/bg_footer.jpg") no-repeat;
}
.footer .logo__text {
  border-radius: 12px;
}
.footer .wrapper {
  display: flex;
}
.footer__column:nth-child(-n+2) {
  width: 40%;
}
.footer__column:nth-child(2) {
  display: flex;
}
.footer__nav:first-child {
  width: 40%;
}
.footer__nav__item {
  margin-bottom: 15px;
}
.footer__nav__link {
  padding: 5px 0 0;
  font-size: 18px;
  font-weight: 600;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.footer__nav__link svg {
  margin: 0 15px 3px 0;
}
.footer__nav__link svg circle {
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.footer__nav__link:hover {
  color: #1378BA;
}
.footer__nav__link:hover svg circle {
  opacity: 1;
}
.footer__contacts__item:not(:first-child) {
  margin: 0 0 13px 33px;
  max-width: 270px;
  position: relative;
  line-height: 20px;
}
.footer__contacts__item::before {
  position: absolute;
  left: -33px;
}
.footer__contacts__item:nth-child(2)::before {
  content: url(../images/icon_clock_color.svg);
}
.footer__contacts__item:nth-child(3)::before, .footer__contacts__item .contacts__item_address::before {
  content: url(../images/icon_location_color.svg);
}
.footer__contacts__item:last-child::before, .footer__contacts__item .contacts__item_email::before {
  content: url(../images/icon_mail_color.svg);
}

.copyright__block {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  line-height: 24px;
}

.policy {
  color: #1378BA;
}

.modal--callback {
  max-width: 500px;
  width: 100%;
  padding: 30px;
  text-align: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.modal {
  display: none;
  background: #F5F5F5;
  width: 450px;
}
.modal__title {
  font-size: 22px;
  font-weight: 25px;
  color: #000000;
  line-height: 1.5;
  margin-bottom: 20px;
}
.modal__btns {
  display: flex;
  flex-direction: column;
}
.modal__btns a:not(:last-child) {
  margin-bottom: 10px;
}
.modal p {
  margin-bottom: 40px;
}
.modal__order {
  margin-bottom: 30px;
  text-align: left;
}
.modal__order__item {
  display: flex;
  background: #ffffff;
  padding: 15px;
}
.modal__order__item img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
  object-fit: cover;
  flex-shrink: 0;
  margin-right: 10px;
}
.modal__order__item_top {
  font-size: 22px;
  font-weight: 14px;
  color: #000000;
  line-height: 1.5;
  margin-bottom: 10px;
}
.modal__order__item__name {
  font-size: 22px;
  font-weight: 16px;
  color: #000000;
  line-height: 1.5;
  margin-bottom: 10px;
}
.modal__order__item__price {
  font-size: 22px;
  font-weight: 15px;
  color: #000000;
  line-height: 1.5;
  margin-bottom: 10px;
}

.form-input {
  color: #ffffff;
  font-size: 18px;
  padding: 20px 0;
  background: inherit;
  border: none;
  border-bottom: 1px solid #c4c4c4;
}
.form-input:focus {
  outline: none;
}
.form-input::placeholder {
  font-family: ProximaNova, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
}

.callback {
  padding: 85px 0;
  background: url("../images/bg_callback_ind.jpg") no-repeat center top;
}
.callback h3 {
  max-width: 950px;
  font-size: 40px;
  font-weight: 800;
  line-height: 1.1;
}
.callback textarea {
  padding-bottom: 15px;
}
.callback__input-wrapper {
  display: flex;
  flex-direction: column;
}
.callback__input-wrapper:first-child {
  margin-right: 50px;
  width: 45%;
}
.callback__input-wrapper:nth-child(2) {
  width: calc(55% - 50px);
}
.callback__input-wrapper:last-child {
  width: 100%;
}
.callback__submit-wrapper {
  margin-top: 55px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.callback__form {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}
.callback__add-file {
  margin-top: 30px;
}
.callback .btn_submit {
  width: 45%;
}
.callback__notice {
  margin-left: 50px;
  color: #ffffff;
}

@font-face {
  font-family: ProximaNova;
  src: url(../fonts/ProximaNova-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: ProximaNova;
  src: url(../fonts/ProximaNova-Semibold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: ProximaNova;
  src: url(../fonts/ProximaNova-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: ProximaNova;
  src: url(../fonts/ProximaNova-Extrabld.ttf);
  font-weight: 800;
}
.header__hamburger {
  display: none;
}

.adaptive-menu-toggle {
  margin: auto;
  position: relative;
  display: block;
  width: 30px;
  height: 24px;
  z-index: 99;
  background: inherit;
  border: none;
}
.adaptive-menu-toggle:focus {
  outline: none;
}

.menu-toggle-inner {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.menu-toggle-line {
  position: absolute;
  background: #000000;
  display: block;
  margin: auto;
  height: 4px;
  width: 100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.menu-toggle-line--1 {
  top: 0;
  -moz-transition: width 0.2s ease 0.3s;
  -o-transition: width 0.2s ease 0.3s;
  -webkit-transition: width 0.2s ease 0.3s;
  transition: width 0.2s ease 0.3s;
}

.menu-toggle-line--2 {
  top: 0;
  bottom: 0;
  margin: auto;
  -moz-transition: width 0.2s ease 0.3s;
  -o-transition: width 0.2s ease 0.3s;
  -webkit-transition: width 0.2s ease 0.3s;
  transition: width 0.2s ease 0.3s;
}

.menu-toggle-line--3 {
  bottom: 0;
  -moz-transition: width 0.2s ease 0.3s;
  -o-transition: width 0.2s ease 0.3s;
  -webkit-transition: width 0.2s ease 0.3s;
  transition: width 0.2s ease 0.3s;
}

.menu-toggle-line--4,
.menu-toggle-line--5 {
  opacity: 0;
  top: 10px;
}

.menu-toggle-line--4 {
  -webkit-transition: opacity 0.2s ease 0.2s, -webkit-transform 0.2s ease 0.2s;
  transition: opacity 0.2s ease 0.2s, -webkit-transform 0.2s ease 0.2s;
  -o-transition: opacity 0.2s ease 0.2s, -o-transform 0.2s ease 0.2s;
  -moz-transition: opacity 0.2s ease 0.2s, transform 0.2s ease 0.2s, -moz-transform 0.2s ease 0.2s;
}

.menu-toggle-line--5 {
  -webkit-transition: opacity 0.2s ease 0s, -webkit-transform 0.2s ease 0s;
  transition: opacity 0.2s ease 0s, -webkit-transform 0.2s ease 0s;
  -o-transition: opacity 0.2s ease 0s, -o-transform 0.2s ease 0s;
  -moz-transition: opacity 0.2s ease 0s, transform 0.2s ease 0s, -moz-transform 0.2s ease 0s;
}

.adaptive-menu-toggle--open .menu-toggle-line {
  background: #000000;
}

.adaptive-menu-toggle--open .menu-toggle-line--1 {
  width: 0;
  -moz-transition: width 0.2s ease 0s;
  -o-transition: width 0.2s ease 0s;
  -webkit-transition: width 0.2s ease 0s;
  transition: width 0.2s ease 0s;
}

.adaptive-menu-toggle--open .menu-toggle-line--2 {
  width: 0;
  -moz-transition: width 0.2s ease 0.1s;
  -o-transition: width 0.2s ease 0.1s;
  -webkit-transition: width 0.2s ease 0.1s;
  transition: width 0.2s ease 0.1s;
}

.adaptive-menu-toggle--open .menu-toggle-line--3 {
  width: 0;
  -moz-transition: width 0.2s ease 0.2s;
  -o-transition: width 0.2s ease 0.2s;
  -webkit-transition: width 0.2s ease 0.2s;
  transition: width 0.2s ease 0.2s;
}

.adaptive-menu-toggle--open .menu-toggle-line--4 {
  opacity: 1;
  -moz-transform: rotate(45deg) translateZ(0);
  -ms-transform: rotate(45deg) translateZ(0);
  -o-transform: rotate(45deg) translateZ(0);
  -webkit-transform: rotate(45deg) translateZ(0);
  transform: rotate(45deg) translateZ(0);
  -webkit-transition: opacity 0.2s ease 0.2s, -webkit-transform 0.2s ease 0.2s;
  transition: opacity 0.2s ease 0.2s, -webkit-transform 0.2s ease 0.2s;
  -o-transition: opacity 0.2s ease 0.2s, -o-transform 0.2s ease 0.2s;
  -moz-transition: opacity 0.2s ease 0.2s, transform 0.2s ease 0.2s, -moz-transform 0.2s ease 0.2s;
}

.adaptive-menu-toggle--open .menu-toggle-line--5 {
  opacity: 1;
  -moz-transform: rotate(-45deg) translateZ(0);
  -ms-transform: rotate(-45deg) translateZ(0);
  -o-transform: rotate(-45deg) translateZ(0);
  -webkit-transform: rotate(-45deg) translateZ(0);
  transform: rotate(-45deg) translateZ(0);
  -webkit-transition: opacity 0.2s ease 0.4s, -webkit-transform 0.2s ease 0.4s;
  transition: opacity 0.2s ease 0.4s, -webkit-transform 0.2s ease 0.4s;
  -o-transition: opacity 0.2s ease 0.4s, -o-transform 0.2s ease 0.4s;
  -moz-transition: opacity 0.2s ease 0.4s, transform 0.2s ease 0.4s, -moz-transform 0.2s ease 0.4s;
}

@media only screen and (max-width: 1200px) {
  .header__hamburger {
    display: block !important;
    right: 10px;
    top: 20px;
  }

  .headerNav_adaptive {
    background: #000000;
    display: none;
    padding-top: 60px;
    position: absolute;
    left: -15px;
    right: -15px;
    top: 0;
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    z-index: 3;
  }
  .headerNav_adaptive ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .headerNav_adaptive .address p {
    font-size: 22px;
    font-weight: 400;
    color: #000000;
    line-height: 1.5;
    background: #ffffff;
    padding: 10px;
  }

  .header_opened {
    display: block !important;
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  .headerNav_adaptive a {
    background: #ffffff;
    border: #000000 1px solid;
    border-bottom: none;
    display: block;
    font-size: 22px;
    font-weight: 400;
    color: #000000;
    line-height: 1.5;
    padding: 10px;
    text-decoration: none;
  }

  .headerNav_adaptive li:last-child a {
    border-bottom: #000000 1px solid;
  }
}
/* PAGES */
.benefits {
  padding: 55px 0;
  background: #F3F3F3;
}
.benefits__list {
  display: flex;
  justify-content: space-between;
}
.benefits__item {
  display: flex;
  font-size: 24px;
  font-size: 24px;
  font-weight: 400;
  color: #000000;
  line-height: 1.5;
}
.benefits__item_main {
  align-items: center;
}
.benefits__item_main::before {
  margin-right: 30px;
}
.benefits__item_main:first-child::before {
  content: url("../images/benef1.svg");
}
.benefits__item_main:nth-child(2)::before {
  content: url("../images/benef2.svg");
}
.benefits__item_main:nth-child(3)::before {
  content: url("../images/benef3.svg");
}

.services__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 20px;
}
.services__item {
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.services__item__title {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 800;
  color: #1378BA;
  line-height: 1.1;
  z-index: inherit;
}
.services__item:first-child .services__image-block {
  background: url("../images/serv1.jpg") no-repeat;
}
.services__item:nth-child(2) .services__image-block {
  background: url("../images/serv2.jpg") no-repeat;
}
.services__item:nth-child(3) .services__image-block {
  background: url("../images/serv3.jpg") no-repeat;
}
.services__item:nth-child(4) .services__image-block {
  background: url("../images/serv4.jpg") no-repeat;
}
.services__item:nth-child(5) .services__image-block {
  background: url("../images/serv5.jpg") no-repeat;
}
.services__item:nth-child(6) .services__image-block {
  background: url("../images/serv6.jpg") no-repeat;
}
.services__image-block {
  height: 336px;
  z-index: 20;
}
.services__info {
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.services__info__list__item {
  font-size: 18px;
  font-weight: 600;
  color: #000000;
  line-height: 1.7;
}
.services__info__list__item::before {
  margin-right: 15px;
  content: url(../images/checked.svg);
  background: #ffffff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.services__info__first-row {
  display: flex;
  justify-content: space-between;
}
.services__info__button-wrapper {
  height: 100%;
  display: flex;
}
.services__info .btn_small {
  margin-top: 25px;
}
.services_main .services {
  margin-top: 70px;
}
.services_main .services__info {
  position: absolute;
  left: 0;
  right: 0;
  top: 220px;
  bottom: 0;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 30;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.services_main .services__info__first-row {
  z-index: 30;
}
.services_main .services__info__list__item {
  color: #ffffff;
}
.services_main .services__item:hover .services__info {
  top: 0;
}
.services_main .services__item:hover .services__image-block::before {
  background: rgba(19, 120, 186, 0.9);
}
.services_main .services__item:hover .btn_round {
  background: #ffffff;
}
.services_main .services__item:hover .btn_round > svg > path {
  fill: #1378BA;
}
.services_main .services__item__title {
  color: #ffffff;
}
.services_main .services__image-block {
  position: relative;
}
.services_main .services__image-block::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  -moz-transition: background 0.5s;
  -o-transition: background 0.5s;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}
.services_page .services {
  margin-top: 60px;
}
.services_page .services__item {
  background-color: #F3F3F3;
}
.services_page .services__item__title {
  font-size: 30px;
  font-weight: 800;
  color: #1378BA;
  line-height: 1.15;
}
.services_page .services__image-block {
  position: relative;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.services_page .services__info {
  position: relative;
}
.services_page .services__info__first-row, .services_page .services__info__list, .services_page .services__info__button-wrapper {
  z-index: 30;
}
.services_page .services__info::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  background: #1378BA;
  z-index: 10;
  bottom: 0;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.services_page .services__info:hover::after {
  top: -12px;
}
.services_page .services__info:hover .services__item__title, .services_page .services__info:hover .services__info__list__item {
  color: #ffffff;
}
.services_page .services__info:hover .btn_small {
  background-color: #ffffff;
  border: 2px solid #ffffff;
}

.bg-text {
  position: relative;
  z-index: -1;
}
.bg-text::before {
  position: absolute;
  font-size: 145px;
  font-weight: 800;
  color: #F3F3F3;
  line-height: 1;
}
.bg-text_services::before {
  content: "КОМПЕТЕНЦИИ";
  top: -101px;
  left: -4px;
}

.questions {
  margin-top: 95px;
  padding: 65px 0;
  background: url("../images/bg_stripe.jpg") no-repeat;
}
.questions .wrapper {
  display: flex;
  justify-content: space-between;
}
.questions__text {
  display: inline-block;
}
.questions__title {
  display: block;
  font-size: 42px;
  font-weight: 600;
}

.approach__text-block {
  line-height: 1.6;
}
.approach__text-highlight {
  margin: 80px 0 70px;
  padding: 20px 50px;
  display: block;
  border-radius: 35px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  background: #1378BA;
  color: #ffffff;
}
.approach__img {
  float: right;
  max-width: 45%;
}

.s_staff_service-page {
  margin-top: 100px;
}

.staff {
  background: url("../images/bg_paper.jpg") no-repeat top left;
}
.staff .title {
  max-width: 810px;
}
.staff__text {
  padding: 10px 0 85px;
  display: flex;
  align-items: center;
}
.staff__text__sertif {
  margin-left: 200px;
}
.staff__text__sertif svg {
  padding-top: 90px;
  margin-bottom: 30px;
}
.staff__text__sertif p {
  font-size: 18px;
  font-weight: 600;
  color: #333333;
  line-height: 1.5;
}
.staff__text__link {
  color: #1378BA;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.staff__text__link:hover {
  color: #29B179;
}
.staff__list {
  margin: 0 -10px;
}
.staff__item {
  margin: 0 10px;
}
.staff__item__link {
  display: flex;
  flex-direction: column;
}
.staff__item__content {
  padding: 0 25px 20px;
  position: relative;
}
.staff__item__achievements {
  display: flex;
  position: absolute;
  top: -70px;
  left: 25px;
}
.staff__item__achievements img {
  margin-right: 10px;
}
.staff__item__surname {
  margin-top: 10px;
  font-size: 36px;
  font-weight: 600;
}
.staff__item__name {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  border-bottom: 1px solid #c4c4c4;
}
.staff__item__name svg {
  margin: 10px 0 -1px;
}
.staff__item__prof {
  margin-top: 10px;
  color: #8E8E8E;
  font-size: 12px;
  font-weight: 600;
}

.portfolio {
  display: flex;
  flex-direction: column;
}
.portfolio_main {
  margin-top: 80px;
  padding-top: 90px;
  background: url("../images/bg_portfolio.jpg") no-repeat bottom right;
  background-size: contain;
}
.portfolio_main .title {
  margin: 0;
  text-align: center;
}
.portfolio__list {
  margin-top: 95px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
}
.portfolio__img {
  max-height: 500px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  z-index: 20;
}
.portfolio__item {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #ffffff;
}
.portfolio__item__text {
  z-index: 30;
}
.portfolio__item__text-container {
  position: absolute;
  left: 50px;
  bottom: 45px;
}
.portfolio__item__text-container::before {
  content: url("../images/evonik.png");
}
.portfolio__item__text__title {
  margin-top: 30px;
  font-size: 26px;
  font-weight: 800;
  line-height: 1.25;
}
.portfolio__item__text__info {
  margin-top: 20px;
  font-size: 20px;
  line-height: 1.4;
}
.portfolio .btn_white {
  margin: 100px auto 180px;
}
.portfolio__pagination {
  margin-top: 75px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
}
.portfolio__pagination__list {
  display: flex;
}
.portfolio__pagination__list li {
  margin-right: 15px;
}
.portfolio__pagination__btn {
  width: 45px;
  height: 45px;
  background: #F3F3F3;
  border: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.portfolio__pagination__btn.active {
  background: #29B179;
  color: #ffffff;
}
.portfolio__pagination__btn:hover {
  background: #c4c4c4;
}
.portfolio__pagination__prev, .portfolio__pagination__next {
  border: none;
  background: none;
}
.portfolio__pagination__prev {
  margin-right: 100px;
}
.portfolio__pagination__next {
  margin-left: 100px;
}

.s_contacts {
  margin-top: -85px;
}

.contacts_main {
  display: flex;
}
.contacts_main__left-block, .contacts_main__right-block {
  width: 50%;
}
.contacts_main__left-block {
  background: url("../images/bg_form_main.jpg") no-repeat;
}
.contacts_main__left-block h3 {
  margin: 60px 0 40px;
  font-size: 40px;
  font-weight: 800;
  line-height: 1.35;
}
.contacts_main__left-block .wrapper_half {
  margin-left: auto;
}
.contacts_main__left-block .form-input {
  background-color: inherit;
  border: none;
}
.contacts__list {
  margin: 130px 0 65px 90px;
}
.contacts__item {
  font-size: 22px;
  line-height: 1.4;
}
.contacts__item::before {
  margin-right: 12px;
  vertical-align: middle;
}
.contacts__item__title {
  font-size: 14px;
  font-weight: 400;
  color: #8E8E8E;
}
.contacts__item_address::before {
  content: url(../images/icon_location_color.svg);
}
.contacts__item_email::before {
  content: url(../images/icon_mail_color.svg);
}
.contacts__phone {
  font-size: 40px;
  font-weight: 800;
}
.contacts__phone::before {
  content: url("../images/icon_phone_color.svg");
}
.contacts_page {
  display: flex;
  flex-wrap: wrap;
}
.contacts__wrapper_half {
  width: 50%;
}
.contacts__wrapper_half:first-child {
  background: url("../images/bg_form_contacts.jpg") no-repeat;
}
.contacts__wrapper_half:first-child .wrapper_half {
  margin-left: auto;
}

.form__added-file {
  margin-left: 35px;
  display: inline-block;
  color: #ffffff;
}

.s_partners {
  margin-top: 85px;
}

.partners {
  padding: 1px 0 85px;
  background: url("../images/bg_partners.jpg") no-repeat center top;
}
.partners__list {
  margin: 80px -10px 0 -10px;
}
.partners__item {
  margin: 0 10px;
  background-color: #ffffff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.partners__item__wrapper {
  padding: 25px;
  height: 235px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.partners__link {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
}
.partners__img {
  margin: auto 0;
  max-width: 100%;
  object-fit: contain;
}
.partners .title {
  text-align: center;
}

.content__header {
  margin-top: 35px;
  text-align: center;
}

/* RESPONSIVE */

/*# sourceMappingURL=style.css.map */
