@font-face
  font-family: ProximaNova
  src: url(../fonts/ProximaNova-Regular.ttf)
  font-weight: 400

@font-face
  font-family: ProximaNova
  src: url(../fonts/ProximaNova-Semibold.ttf)
  font-weight: 600

@font-face
  font-family: ProximaNova
  src: url(../fonts/ProximaNova-Bold.ttf)
  font-weight: 700

@font-face
  font-family: ProximaNova
  src: url(../fonts/ProximaNova-Extrabld.ttf)
  font-weight: 800


//  COLORS
$textBlack: #000000
$gray: #8E8E8E
$notSoLightGray: #A3A3A3
$lightGray: #c4c4c4
$lightestGray: #F3F3F3
$white: #ffffff
$blue: #1378BA
$green: #29B179

//  FONTS
$regular: ProximaNova, sans-serif
//$bold: Nat Bold, sans-serif
//$pt: PT, sans-serif
//$bch: BCH, sans-serif
