//@font-face
//  font-family: Nat Flight
//  src: url(../fonts/Nat_Flight.otf)
//
//@font-face
//  font-family: Nat Bold
//  src: url(../fonts/Nat_Flight_Bold.otf)
//
//@font-face
//  font-family: PT
//  src: url(../fonts/PTSans-Regular.ttf)
//
//@font-face
//  font-family: BCH
//  src: url(../fonts/BCH56.ttf)

//  COLORS
$textBlack: #000000
$white: #ffffff

//  FONTS
$regular: sans-serif
//$bold: Nat Bold, sans-serif
//$pt: PT, sans-serif
//$bch: BCH, sans-serif
