.header
  background: url(../images/bg_header_common.jpg) center top no-repeat
  &_main
    background: url(../images/bg_header_main.jpg) center top no-repeat
    & .header
      &__top
        padding-bottom: 0
    //&__content
    //  display: flex
    //  &__right-block
    //    margin-left: 90px
    //    font-size: 24px
    //    line-height: 1.5
    //    & .btn_gradient
    //      margin-top: 55px
    &__links
      margin-top: 120px
  &__top
    padding-bottom: 60px
    position: relative
    +space
    align-items: center
    &__nav-list
      display: flex
    &__nav-item
      padding: 3em 1em
      position: relative
    &__nav-link
      padding: 1em 0.5em
      @include font($textBlack, 800, 16px, 1)
      &::before
        content: ''
        position: absolute
        bottom: -1px
        height: 3px
        left: 1.5em
        width: 0
        background: linear-gradient(to left, $green, $blue)
        @include transition(all 0.3s)
      &:hover
        color: $blue
        transition: all 0.3s ease-in-out
      &:hover::before
        width: calc(100% - 3em)

    &__right-block
      +flex-column
      align-items: center
  &__bottom
    //display: flex
    &_main
      margin-top: 50px
  &__nav-list
    &_bottom
      display: flex
      position: absolute
      left: 0
      &_main
        flex-direction: column
        +border-radius(10px)
        background: #efeff2
        bottom: -414px
        z-index: 100
      &_common
        margin: 10px 0
        right: 0
        bottom: 0
        justify-content: space-between
        & .header
          &__nav-list__link
            padding: 5px 0
    &__link
      padding: 22px 30px
      display: block
      border-radius: 10px
      font-weight: 800
      white-space: nowrap
      background: inherit
      @include transition()
      svg
        margin-right: 13px
        vertical-align: middle
      &:hover
        color: $blue
        background: #ffffff
      &:hover svg path
        fill: $blue


.logo
  margin: 24px 0 16px
  position: relative
  z-index: 30
  &__text
    padding: 8px 12px 6px
    position: absolute
    bottom: 10px
    right: -90px
    background-color: #ffffff
    @include font($blue, 700, 10px, 1)
    text-transform: uppercase

.work-time
  font-size: 15px
  &::before
    margin-right: 6px
    content: url(../images/icon_clock_grey.svg)
    vertical-align: middle

