.hero
  padding: 84px 0
  &_main
    padding: 0
    background: url('../images/bg_hero_main_compressed.jpg') center top no-repeat
    &__portfolio-link
      margin: auto 0 -10px
      padding: 30px 26px 35px 38px
      +flex-column
      max-width: 334px
      width: 100%
      background-color: #1378BA
      font-size: 24px
      font-weight: 800
      color: #ffffff
      +border-radius(10px)
      & .btn
        margin: 12px 0 0 auto
    &__content
      display: flex
      &__right-block
        margin-left: 90px
        font-size: 24px
        line-height: 1.5
        & .btn_gradient
          margin: 55px 0 95px
  &_social
    background: url('../images/bg_hero_social.jpg') center top no-repeat
    background-size: cover
  &_weba
    background: url('../images/bg_hero_weba.jpg') center top no-repeat
    background-size: cover
    & .hero__first-row__right
      margin-left: auto
  &_case
    text-align: center
    background: url('../images/bg_hero_case.jpg') center top no-repeat
    &__first-block
      display: flex
      flex-direction: column-reverse
      align-items: center
    & .btn_transperent_white
      margin-bottom: 44px
    p
      margin: 1em auto
      padding-bottom: 1em
      max-width: 600px
      font-weight: 400
      font-size: 24px
      line-height: 1.25
      color: #ffffff

.benefits
  padding: 55px 0
  background: $lightestGray
  &__list
    +space-nw
    &_weba
      margin-top: 60px
  &__item
    margin-right: 1em
    display: flex
    @include font($textBlack, 400, 24px, 1.5)
    &_main
      align-items: center
      &::before
        margin-right: 30px
      &:first-child::before
        content: url("../images/benef1.svg")
      &:nth-child(2)::before
        content: url("../images/benef2.svg")
      &:nth-child(3)::before
        content: url("../images/benef3.svg")
    &_complex, &_social, &_weba
      align-items: center
      max-width: 360px
      color: #ffffff
      font-size: 20px
      font-weight: 600
      line-height: 1.3
      &:last-child
        margin-right: 0
      &::before
        margin-right: 35px
    &_complex
      &:first-child::before
        content: url("../images/icon_opyt.svg")
      &:nth-child(2)::before
        content: url("../images/icon_avtorskiy.svg")
      &:nth-child(3)::before
        content: url("../images/icon_sert_spec.svg")
    &_social
      &:first-child::before
        content: url("../images/icon_social_hero1.svg")
      &:nth-child(2)::before
        content: url("../images/icon_social_hero2.svg")
      &:nth-child(3)::before
        content: url("../images/icon_social_hero3.svg")
    &_weba
      &:first-child::before
        content: url("../images/icon_weba_hero1.svg")
      &:nth-child(2)::before
        content: url("../images/icon_weba_hero2.svg")
      &:nth-child(3)
        flex-shrink: 2
        &::before
          content: url("../images/icon_sert_spec.svg")
    &_about
      +flex-column
      font-size: 20px
      font-weight: 600
      line-height: 1.3
      color: #ffffff
      &::before
        margin-bottom: 35px
        width: 110px
        height: 110px
        +center
        +border-radius(50%)
        background-color: rgba(255, 255, 255, 0.15)
      &:first-child::before
        content: url("../images/icon_about1.svg")
      &:nth-child(2)::before
        content: url("../images/icon_about2.svg")
      &:nth-child(3)::before
        content: url("../images/icon_about3.svg")
      &:nth-child(4)::before
        content: url("../images/icon_about4.svg")
  &_about
    padding: 72px 0 80px
    background: url('../images/bg_about_advantages.jpg') center top no-repeat
    background-size: cover

.services
  h2
    margin-bottom: 1em
  &__list
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(300px, 420px))
    grid-gap: 20px
    justify-content: center
  &__item
    position: relative
    overflow: hidden
    +border-radius(10px)
    &__title
      margin-bottom: 20px
      @include font($blue, 800, 30px, 1.1)
      z-index: inherit
    &:first-child .services__image-block
      background: url("../images/serv1.jpg") no-repeat
    &:nth-child(2) .services__image-block
      background: url("../images/serv2.jpg") no-repeat
    &:nth-child(3) .services__image-block
      background: url("../images/serv3.jpg") no-repeat
    &:nth-child(4) .services__image-block
      background: url("../images/serv4.jpg") no-repeat
    &:nth-child(5) .services__image-block
      background: url("../images/serv5.jpg") no-repeat
    &:nth-child(6) .services__image-block
      background: url("../images/serv6.jpg") no-repeat
  &__image-block
    height: 336px
    z-index: 20
  &__info
    padding: 30px
    display: flex
    flex-direction: column
    &__list__item
      @include font($textBlack, 600, 18px, 1.7)
      &::before
        margin-right: 15px
        content: url('../images/checked.svg')
        background: #ffffff
        width: 20px
        height: 20px
        +round
        display: inline-flex
        justify-content: center
        align-items: center
    &__first-row
      +space-nw
    &__button-wrapper
      height: 100%
      display: flex
    & .btn_small
      margin-top: 25px
  &_main
    & .services
      margin-top: 70px
      &__info
        position: absolute
        left: 0
        right: 0
        top: 220px
        bottom: 0
        @include transition(all 0.3s ease-in-out)
        z-index: 30
        +box-sizing(border-box)

        &__first-row
          z-index: 30
        &__list__item
          color: #ffffff
      &__item
        &:hover .services__info
          top: 0
        &:hover .services__image-block::before
          background: rgba(19, 120, 186, 0.9)
        &:hover .btn_round
          background: #ffffff
        &:hover .btn_round>svg>path
          fill: $blue
        &__title
          color: #ffffff
      &__image-block
        position: relative
        &::before
          content: ''
          position: absolute
          top: 0
          bottom: 0
          right: 0
          left: 0
          +border-radius(10px)
          background: linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0))
          @include transition(background 0.5s)
  &_page
    & .services
      margin-top: 60px
      &__item
        background-color: #F3F3F3
        &__title
          @include font($blue, 800, 30px, 1.15)
      &__image-block
        position: relative
        +border-radius(10px)
      &__info
        position: relative
        &__first-row, &__list, &__button-wrapper
          z-index: 30
        &::after
          content: ''
          position: absolute
          left: 0
          right: 0
          top: 100%
          background: $blue
          z-index: 10
          bottom: 0
          @include transition()
        &:hover::after
          top: -12px
        &:hover .services__item__title, &:hover .services__info__list__item
          color: #ffffff
        &:hover .btn_small
          background-color: #ffffff
          border: 2px solid #ffffff

.bg-text
  position: relative
  z-index: -1
  &::before
    position: absolute
    @include font($lightestGray, 800, 145px, 1)
  &_services::before
    content: 'КОМПЕТЕНЦИИ'
    top: -101px
    left: -4px

.questions
  margin-top: 95px
  display: flex
  height: 200px
  background: url("../images/bg_stripe.jpg") no-repeat
  & .wrapper
    +center
  &__text
    margin-right: 1em
    display: inline-block
    font-size: 18px
    color: $darkGray
  &__title
    margin-bottom: 0.25em
    display: block
    font-size: 42px
    font-weight: 600
    line-height: 1
    color: $textBlack
  & .btn_gradient
    margin: auto
    padding: 26px 52px


.approach
  &_main
    h2
      margin-top: 0
      padding-top: 1.25em
    p
      margin-bottom: 1.5em
    &__img-wrapper
      display: flex
      position: relative
      &::after
        content: ''
        position: absolute
        width: 336px
        height: 384px
        bottom: -190px
        right: 172px
        background: url("../images/pogodin_name_table.svg") no-repeat

  &__text-block
    line-height: 1.6
    &_complex, &_social, &_case
      margin-top: 60px
      font-size: 16px
      line-height: 1.625
      p
        margin-bottom: 1.5em
  &__text-highlight
    margin: 80px -150px 64px 0
    padding: 31px 50px
    display: block
    +border-radius(43px)
    font-size: 24px
    font-weight: 600
    line-height: 1
    background: #1378BA
    color: #ffffff
  .wrapper_right
    display: flex
  &__img
    padding-left: 60px
    object-fit: contain
    //max-width: 45%
    &_complex
      margin-left: auto
      max-width: 70%
      object-fit: contain
    &_complex, &_social
      padding-left: 90px
      float: right
      max-width: 62%
      overflow: hidden
  &_complex
    background: linear-gradient(to bottom, $lightGray 200px, #ffffff 200px)
    h2
      margin-top: 0
      padding-top: 270px
    & .wrapper_right
      display: flex
  &_social
    h2
      margin-bottom: 1.25em
      text-align: center

.s_staff_service-page
  margin-top: 100px

.staff
  background: url("../images/bg_paper.jpg") no-repeat top left
  & .title
    margin-right: 1em
    max-width: 810px
  &__text
    padding: 10px 0 85px
    display: flex
    align-items: center
    &__sertif
      margin-left: auto
      max-width: 300px
      svg
        padding-top: 90px
        margin-bottom: 30px
      p
        font-size: 18px
        font-weight: 600
        color: $darkGray
        line-height: 1.5
    &__link
      color: $blue
      @include transition()
      &:hover
        color: $green
  &__list
    margin: 0 -10px
  &__item
    margin: 0 10px
    &__container
      display: flex
      justify-content: center
      flex-direction: column
    &__link
      +flex-column
    &__content
      padding: 0 25px 20px
      position: relative
    &__achievements
      display: flex
      position: absolute
      top: -70px
      left: 25px
      & img
        margin-right: 10px
    &__surname
      margin-top: 10px
      font-size: 36px
      font-weight: 600
    &__name
      +flex-column
      font-size: 24px
      border-bottom: 1px solid $lightGray
      svg
        margin: 10px 0 -1px
    &__prof
      margin-top: 10px
      color: $gray
      font-size: 12px
      font-weight: 600

.portfolio
  +flex-column
  &_main
    margin-top: 80px
    padding-top: 90px
    background: url("../images/bg_portfolio.jpg") no-repeat bottom right
    & .title
      margin: 0
      text-align: center
  &__list
    margin-top: 40px
    display: grid
    grid-gap: 20px
    grid-template-columns: repeat(auto-fit, minmax(300px, 600px))
    justify-content: center
    &.slick-initialized img
      width: 100%
  &__img
    max-height: 500px
    +border-radius(10px)
    z-index: 20
  &__item
    +flex-column
    position: relative
    color: #ffffff
    &__text
      z-index: 30
      &-container
        position: absolute
        left: 50px
        bottom: 45px
        &::before
          content: url("../images/evonik.png")
      &__title
        margin-top: 30px
        font-size: 26px
        font-weight: 800
        line-height: 1.25

      &__info
        margin-top: 20px
        font-size: 20px
        line-height: 1.4
  & .btn_white
    margin: 100px auto 180px
  &__pagination
    margin-top: 75px
    padding-bottom: 80px
    display: flex
    justify-content: center
    &__list
      display: flex
      li:not(:last-child)
        margin-right: 15px
    &__btn
      width: 45px
      height: 45px
      background: $lightestGray
      border: none
      +border-radius(50%)
      @include transition
      cursor: pointer
      &.active
        background: $green
        color: #ffffff
      &:hover
        background: $lightGray
      &_prev, &_next
        margin: 0 55px
        background-color: $blue
    &__prev, &__next
      border: none
      background: none
    &__prev
      margin-right: 100px
    &__next
      margin-left: 100px


.s_contacts
  margin-top: -85px

.contacts
  &_main
    display: flex
    &__left-block, &__right-block
      width: 50%
    &__left-block
      background: url("../images/bg_form_main.jpg") no-repeat
      & .notice_checked__label
        color: #ffffff
      h3
        margin: 1.5em 0 20px
        font-size: 40px
        font-weight: 800
        line-height: 1.35
      & .wrapper_half
        max-width: 670px
        margin-left: auto
        h3, form
          margin-left: 20px
          margin-right: 20px
      & .form-input
        background-color: inherit
        border-bottom: 1px solid #c4c4c452
    &__right-block
      & .wrapper_half
        +flex-column
        height: 100%
  &__list
    margin: 30px 0 50px
    &_main
      margin: 140px 0 0 90px
      width: fit-content
  &__item
    margin-bottom: 20px
    display: flex
    font-size: 22px
    line-height: 1.4
    &::before
      margin-right: 20px
      align-self: center
    &__title
      display: block
      font-size: 14px
      font-weight: 400
      line-height: 1
      color: $gray
    &_address::before
      content: url(../images/icon_location_color.svg)
    &_email::before
      content: url(../images/icon_mail_color.svg)
    & .email:hover
      color: $blue
      @include transition(color 0.4s)
  &__phone
    font-size: 40px
    font-weight: 800
    line-height: 1
    &::before
      content: url("../images/icon_phone_color.svg")
  &_page
    display: flex
    flex-wrap: wrap
  &__wrapper_half
    width: 50%
    &:first-child
      background: url("../images/bg_form_contacts.jpg") no-repeat
      background-size: cover
      & .wrapper_half
        margin-left: auto
    &.right
      padding: 130px 0 0 90px
      h3
        font-size: 40px
        font-weight: 800
        line-height: 1
    &.left
      padding: 60px 0 80px 20px
      h3
        margin-bottom: 15px
        font-size: 40px
        font-weight: 800
        line-height: 1
      //& .form__input-wrapper
      //  padding-right: 100px
      //  & .form-input
      //    width: 100%
      //& .modal-form__row
      //  margin-top: 26px
  &__hero
    padding: 40px 0 140px
    background: url(../images/bg_contacts.jpg) no-repeat bottom right
    background-size: cover
    text-align: center
    h1
      font-size: 58px
      font-weight: 800
      line-height: 0.8

.form
  &_main
    & .btn_submit_white
      margin-bottom: 70px
  &__input-wrapper
    padding-right: 100px
  &-input
    padding: 18px 0
    width: 100%
  &__added-file
    margin-left: 35px
    display: inline-block
    color: #ffffff
  &__row
    margin-top: 26px


#map
  margin-top: auto
  overflow: hidden
