.s_partners
  margin-top: 85px

.partners
  padding: 1px 0 85px
  background: url("../images/bg_partners.jpg") no-repeat center top
  &__list
    margin: 80px -10px 0 -10px
  &__item
    margin: 0 10px
    background-color: #ffffff
    +border-radius(10px)
    +box-sizing(border-box)
    &__wrapper
      padding: 25px
      height: 235px
      +flex-column()
      justify-content: flex-end
      +box-sizing(border-box)
  &__link
    font-size: 14px
    font-weight: 600
    line-height: 1.5
    text-align: center
  &__img
    margin: auto 0
    max-width: 100%
    object-fit: contain
  & .title
    text-align: center

.content__header
  margin: 35px 0 60px
  text-align: center

.about
  &__hero
    padding: 90px 0 70px
    background: url("../images/bg_hero_about.jpg") no-repeat center top
    & .breadcrumbs
      &__list
        justify-content: left
      a
        color: #ffffff
    & .hero
      &__first-row h1.white
        margin-bottom: 0.4em
      &__second-row
        margin-top: 55px
        display: flex
        &__left
          margin-right: 60px
          & .list__title
            margin: 50px 0 40px
            display: block
            font-weight: 600
            font-size: 24px
            line-height: 1.35
        &__right
          +flex-column
          justify-content: flex-end
          p
            font-weight: 400
            font-size: 16px
            line-height: 1.6
            z-index: 50
          blockquote
            margin: 40px 0
            padding: 24px 20px 40px 32px
            position: relative
            +border-radius(10px)
            background-color: $lightestGray
            &::after
              content: url("../images/quotation_marks.svg")
              position: absolute
              bottom: -5px
              right: 40px
            & .boss-info
              margin-top: 24px
              img
                margin-right: 24px
                float: left
              &__name
                padding-top: 4px
                display: block
                font-weight: 600
                font-size: 26px
                line-height: 1
              &__job
                font-weight: 400
                font-size: 15px
                line-height: 1
    & .btn_gradient
      margin-top: 40px
      padding: 19px 55px
      font-size: 12px
  &__text_1
    margin-bottom: auto
  &__download-link
    +flex-column
    width: 200px
    height: 200px
    align-items: center
    justify-content: center
    text-align: center
    +border-radius(50%)
    color: #ffffff
    background-color: rgba(255, 255, 255, 0.15)
    font-weight: 800
    font-size: 15px
    line-height: 1.5
    @include transition
    span
      margin-top: 1em
      font-weight: 400
      font-size: 12px
      opacity: 0.5
    &::before
      content: url("../images/icon_download.svg")
      margin-bottom: 10px
    &:hover
      background-color: rgba(255, 255, 255, 0.25)
  &__img
    +border-radius(10px)
  &__project-list
    +flex-wrap
    li
      margin-bottom: 0.375em
      display: flex
      align-items: center
      width: 50%
      font-weight: 400
      font-size: 18px
      &::before
        content: ''
        margin-right: 12px
        display: block
        width: 7px
        height: 7px
        +border-radius(50%)
        background-color: $blue

.tasks
  margin-bottom: 90px
  h2
    margin-bottom: 1.25em
    text-align: center
  &__list
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(300px, 420px))
    grid-gap: 20px
    justify-content: center
  &__item
    padding: 30px
    display: flex
    position: relative
    overflow: hidden
    +border-radius(10px)
    &:first-child
      background: url("../images/about_task1.jpg") no-repeat
    &:nth-child(2)
      background: url("../images/about_task2.jpg") no-repeat
    &:nth-child(3)
      background: url("../images/about_task3.jpg") no-repeat
    &:nth-child(4)
      background: url("../images/about_task4.jpg") no-repeat
    &:nth-child(5)
      background: url("../images/about_task5.jpg") no-repeat
    &:nth-child(6)
      background: url("../images/about_task6.jpg") no-repeat
    a.btn_round
      &::before
        content: ''
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
      &::after
        content: ''
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        @include transition(background 0.5s)
    &:hover a.btn_round::after
      background-color: rgba(19, 120, 186, 0.4)
  &__content
    margin-top: 190px
    padding-top: 24px
    +space-nw
    max-width: 100%
    width: 100%
    border-top: 1px solid #999999
    &__text
      color: #ffffff
      z-index: 50
    &__title
      margin-bottom: 12px
      font-size: 26px
      font-weight: 800
      line-height: 1.25
    span
      font-size: 16px
      font-weight: 400

.target
  &__list
    padding-top: 80px
  &__item
    margin: 0 10px
    border-radius: 10px
    overflow: hidden
  &__img_main
    margin: 0 -66px 1em 120px
    max-width: 56%
    width: 720px
    float: right
  h2
    margin-bottom: 48px

.stage
  & .title
    text-align: center
  &__list
    counter-reset: magnificentCounter
    li
      padding: 32px 0 40px 152px
      position: relative
      list-style: none
      &:not(:last-child)
        border-bottom: 1px solid $lightestGray
      &::before
        counter-increment: magnificentCounter
        content: "ЭТАП №" counter(magnificentCounter)
        background: url("../images/case_bubble.svg") no-repeat
        display: inline-block
        font-weight: 700
        font-size: 16px
        text-align: center
        margin: 16px 0
        line-height: 36px
        width: 95px
        height: 42px
        color: white
        letter-spacing: 1px
      &::after
        content: ''
        width: 110px
        height: 110px
        position: absolute
        left: 0
        bottom: 40px
        background-size: contain
      &:first-child::after
        background: url("../images/case_icon_list1.svg") no-repeat
      &:nth-child(2)::after
        background: url("../images/case_icon_list2.svg") no-repeat
      &:nth-child(3)::after
        background: url("../images/case_icon_list3.svg") no-repeat
      &:nth-child(4)::after
        background: url("../images/case_icon_list4.svg") no-repeat
      &:nth-child(5)::after
        background: url("../images/case_icon_list5.svg") no-repeat
      h3
        font-weight: 600
        font-size: 36px
        margin-bottom: 1em
      p
        font-weight: 400
        font-size: 16px
        line-height: 1.625

.s_result
  margin-top: 80px
  background: $lightestGray
.result
  padding: 90px 0
  display: flex
  background: $lightestGray url('../images/bg_result_case.svg') left center no-repeat
  background-size: 390px 390px
  & .title
    margin: 0 0 0.5em 108px
    width: calc(50% - 108px)
  &__list
    &__item
      padding: 24px 60px 24px 208px
      position: relative
      font-weight: 400
      font-size: 16px
      line-height: 1.25
      border-bottom: 1px solid $lightGray
      &::before
        position: absolute
        left: 0
        top: calc(50% - 24px)
      &:first-child
        padding-top: 0
        &::before
          content: url("../images/result_marker_35.svg")
      &:nth-child(2)::before
        content: url("../images/result_marker_25.svg")
      &:nth-child(3)::before
        content: url("../images/result_marker_15.svg")
      &:nth-child(4)::before
        content: url("../images/result_marker_17.svg")
      &:last-child
        padding-bottom: 0
        border-bottom: unset
      &__title
        display: block
        font-weight: 600
        font-size: 24px
        line-height: 1.6
