@media only screen and (max-width: 1680px)
  .slick-arrow
    bottom: 40px
    &.slick-next
      right: 16px
    &.slick-prev
      left: 16px

  .approach
    &_main
      h2
        margin-left: 1em
        font-size: 56px
      &__img-wrapper::after
        bottom: -140px
    &__text-block_social
      max-width: 50%
    &__img_social
      float: unset
      padding-left: 24px
      max-width: unset
      width: calc(50% - 24px)
      object-fit: contain

