@media only screen and (max-width: 480px)
  h2.title, h3.title
    font-size: 28px

  .benefits__item
    flex-direction: column
    &::before
      margin-right: 0

  .staff__text__sertif
    display: none

  .s_approach
    display: none
