@media only screen and (max-width: 640px)
  .hero h1.white, .hero h1
    font-size: 32px

  h2.title, h3.title
    font-size: 32px

  .header
    background: url('../images/bg_hero_mobile.jpg') center top no-repeat
    &__top__right-block
      margin: 30px auto
    &__nav-list
      &_bottom li
        flex: 0 1 45%
        font-size: 12px
        &:last-child
          flex-grow: 5
          margin: 10px 20px
          & .header__nav-list__link
            flex-direction: row
            svg
              margin: 0 14px
      &__link
        svg
          margin: 0 0 14px

  .portfolio__item__text
    &__title
      font-size: 20px
    &__info
      font-size: 16px

  .questions
    margin: 40px 10px 0
    padding: 32px 16px
    height: unset
    +border-radius(10px)
    text-align: center
    background: url('../images/bg_hero_mobile.jpg') center bottom no-repeat
    & .wrapper
      flex-direction: column
    &__text
      margin-bottom: 1em

  .contacts
    &_main__left-block h3
      font-size: 32px
      text-align: center
    &__list_main
      margin: 40px auto 0

  .staff .title
    margin-right: unset
    padding: 0 1em
    text-align: center

  .footer
    padding-top: 40px

  .slick-dots
    margin-top: 40px

  .slick-slider
    margin: 0 auto
