@media only screen and (max-width: 767px)
  .hero h1.white, .hero h1
    font-size: 40px

  h2.title, h3.title
    font-size: 46px


  .benefits
    &__list
      &_weba
        margin-top: 0
    &__item
      flex-direction: column
      text-align: center
      &_weba, &_social, &_complex
        font-size: 1rem
      &::before
        margin-right: 0



  .footer
    padding-bottom: 20px
    background: $lightestGray
    &__logo
      & .logo__text
        +border-radius(0)
        bottom: -30px
        right: unset
        left: 10px
    &__column
      &:first-child
        width: 100%
        +center
      &:nth-child(2)
        display: none
      &:last-child
        margin-top: 60px
        +center
        & .btn_phone-icon
          +center
    & .wrapper
      padding-bottom: 50px
      position: relative
      flex-direction: column
      justify-content: center
    & .copyright__block
      padding: 10px 15px
      position: absolute
      bottom: -30px
      right: -15px
      left: -15px
      text-align: center
      background: #ffffff
