@media only screen and (max-width: 960px)

  .logo
    &__img
      height: 60px
      padding-bottom: 12px
    &__text
      padding: 4px 10px 2px
      bottom: -12px
      left: 9px
      right: unset

  .title__h1
    font-size: 48px

  h2.title, h3.title
    font-size: 48px

  .btn_gradient, .btn_submit_white
    font-size: 16px

  .s_hero .hero
    padding-top: 2em

  .s_partners
    margin-top: 20px

  .hero
    &__first-row
      padding-bottom: 28px
      flex-direction: column
      &__right
        margin: 1em auto
    h1.white
      margin-right: 0
      & .hero h1
        margin-top: 1em
        font-size: 48px
    &_main__portfolio-link
      right: 1em

  .s_staff_service-page
    margin-top: 20px

  .approach
    &__text-block_social
      max-width: 100%
    &__img
      &_complex
        padding-left: 20px
      &_social
        margin-left: auto
        width: 70%

  .prices
    &__block_olive_complex
      &::after
        content: unset
      & .prices__list
        padding-right: 0
    &__block_olive_social::after
      bottom: -30px
      width: 300px
      height: 300px
      opacity: 0.6

  .questions
    &__text
      font-size: 1rem
    &__title
      font-size: 32px

  .benefits
    &__list
      &_weba
        margin-top: 0
    &__item
      &_weba, &_social, &_complex
        font-size: 1rem
      &::before
        margin-right: 0.75em
      &_about
        font-size: 18px

  .about__img
    max-width: 100%

  .about__hero .hero__second-row
    margin-top: 0

  .target
    .approach__img
      padding-left: 40px
      max-width: 50%
    &__img_main
      margin-left: 32px

  .result
    padding: 40px 0 64px
    flex-direction: column
    align-items: flex-end
    & .title
      width: 100%
      text-align: center

  .bg-text::before
    font-size: 92px
    top: -80px

  .s_how .how
   & .how
      &__list
        margin-top: 40px
        flex-direction: column
        &__item
          margin: 1rem 0 1rem 52px
          padding: 2rem 1rem 2rem 72px
          text-align: start
          &::before
            left: -52px
            top: calc(50% - 56px)
            @include transform(unset)

  .voronka
    &__list
      &_blue, &_green
        background-image: none
      & .voronka__line .voronka__line__block_left, .voronka__line .voronka__line__block_right
        max-width: unset
    &__line
      padding: 0.5em 0
      height: unset
      flex-direction: column
      &__block_left
        &::before
          @include transform(unset)
      &__block_center
        margin-bottom: 1em
        padding: 0 1em
        color: #000000

  .footer
    &__logo
      & .logo__text
        +border-radius(0)
        bottom: -10px
        right: unset
        left: 6px

  .slick-dots
    margin-top: 60px
